*.obj
*.exe
*.pdb
*.pch
*.tlog
*.ilk
sproduct/*.sdf
sproduct/Debug/
sproduct/Release/
sproduct/ipch/
sproduct/sproduct/Debug/
sproduct/sproduct/Release/
test/*.sdf
test/Debug/
test/Release/
test/ipch/
test/test/Debug/
test/test/Release/
ConsoleApplication1/*.sdf
ConsoleApplication1/Debug/
ConsoleApplication1/Release/
ConsoleApplication1/ipch/
ConsoleApplication1/x64/
ConsoleApplication1/ConsoleApplication1/Debug/
ConsoleApplication1/ConsoleApplication1/Release/
ConsoleApplication1/ConsoleApplication1/x64/